autoprop==3.0.0
bleach==4.0.0
build==0.6.0.post1
certifi==2021.5.30
charset-normalizer==2.0.4
colorama==0.4.4
docutils==0.17.1
glooey==0.3.5
idna==3.2
importlib-metadata==4.6.4
keyring==23.1.0
more-itertools==8.8.0
packaging==21.0
pep517==0.11.0
pkginfo==1.7.1
pyglet==1.5.18
Pygments==2.10.0
pyparsing==2.4.7
PyYAML==5.4.1
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
signature-dispatch==0.2.0
six==1.16.0
tomli==1.2.1
tqdm==4.62.1
twine==3.4.2
typeguard==2.12.1
urllib3==1.26.6
vecrec==0.3.0
webencodings==0.5.1
zipp==3.5.0
